In [1]:
import pandas as pd
import os

In [2]:
DATA_PATH = f'{os.path.join(os.getcwd(), "names")}'

In [3]:
DATA_PATH

'C:\\Users\\Диша\\PycharmProjects\\py_15_4.1\\names'

In [4]:
def load_data(year):
    file_path = os.path.join(DATA_PATH, 'yob{}.txt'.format(year))
    with open(file_path) as f:
        names = pd.read_csv(f, names=['Name','Gender','Count'])
    return names

In [5]:
names = load_data(2000)
names.head(10)

        Name Gender  Count
0      Emily      F  25953
1     Hannah      F  23080
2    Madison      F  19967
3     Ashley      F  17997
4      Sarah      F  17697
5     Alexis      F  17629
6   Samantha      F  17266
7    Jessica      F  15709
8  Elizabeth      F  15094
9     Taylor      F  15078